*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #8D6E63;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 18px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 5px;
    list-style: none;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;

}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #BDBDBD;
    padding-left: 50px;
    font-size: 18px;
}
.sidebar ul li .bx-search-alt{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    top: 15px;
    padding-left: 15px;
    transition: all 0.5s ease;
}
.sidebar ul li .bx-search-alt:hover{
    background: #fff;
    color: #8D6E63;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: #8D6E63;
    background: #fff;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}
.nav_list{
    padding-left: 0;
}
.sidebar .profile_content{
    position: absolute;
    color: #424242;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.5s ease;
}
.sidebar.active .profile_content .profile{
    background: #A1887F;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;

}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 13px;
    font-weight: 400;
}
.profile #logout{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.5s ease;
    background: #A1887F;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    margin: 12px;
}
.sidebar.active .profile #logout{
    left: 88%;
}
.sidebar.active .profile #logout{
    background: none;
}

.sidebar.active ~ .home_content{
    width: cals(100% - 240px);
    left: 240px;
}
.home_content .container{
    margin: 30px;
    padding: 40px;
    text-align: center;
}
.home_content .container .dashboards .title_dash{
    font-size: 22px;
    font-weight: 400;
    color: #424242;
}
.container .dashboards .body_dash .row{
    margin: 20px;
    padding: 20px;
}
.container .dashboards .body_dash .row p{
    padding: 5px 0 10px 0;
    text-align: left;
}
.container .dashboards .body_dash .col-6{
    max-width: 45%;
}
.dashboards .body_dash .row #room_status_available{
    margin-top: 10px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: #81C784;
    color: #fff;
}
.dashboards .body_dash .row #room_status_not_available{
    margin-top: 10px;
    padding: 20px;
    border-radius: 12px;
    background-color: #FFE082;
    color: #fff;
}
.home_content #title_name{
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 6px;
    padding-left: 6px;
    color: grey;
    font-weight: 500;
}
.home_content #name_page{
    font-size: 14px;
    margin-left: 10px;
    margin-top: -12px;
    padding-left: 6px;
    color: #8d8c8c;
    font-weight: 400;
}
.home_content .row .col-sm-4 .input-group{
    margin-top: 20px;
    padding-right: 130px;
    text-align: center;

}
.cli-table .title-cli-table{
    margin: 0px 10px 0px 10px; 
    padding: 0px 10px 0px 10px;
    text-align: center;
}
.cli-table .title-cli-table .title-name #title-eng{
    text-align: left;
    font-weight: 500;
    font-size: 20px;
}
.cli-table .title-cli-table .title-name #title-thai{
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin-top: -20px;
}
.cli-table .title-cli-table .dropdown .btn-dropdown{
    background-color: #d3d2d2;
    margin: 6px;
    padding: 10px;
    border-radius: 12px;
}
.cli-table .title-cli-table .col-2 .btn-click{
    background-color: #6691ca;
    margin: 6px;
    padding: 10px;
    margin-right: 40px;
    border-radius: 8px;
}
.cli-table .client-table{
    margin: 0px 85px 0px 0px;
    padding: 10px;
    
}
.table .client-table{
    border-radius: 12px;
    background-color: rgb(224, 224, 224);
}
.cli-table .client-table .header-table{
    font-size: 22px;
    font-weight: 500;
    padding-left: 20px;
    color: grey;
}
.cli-table .client-table .row .header-table p{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;

}
.client-table .row .header-btn .btn-add{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #81C784;
    border-radius: 10px;
}
.client-table .row .header-btn .btn-add-a{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #81C784;
    border-radius: 10px;
}
.client-table .row .header-btn .btn-edit{
    margin-left: -80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFE082;
    border-radius: 10px;
}
.client-table .table{
    margin: 6px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(224, 226, 228);
}
.background{

    background-image:url("../images/background.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_content .login{
    width: 100%;
    text-align: center;   
    background-color: rgb(224, 226, 228,0.7);
}
.home_content .login .form-group{
    margin-top: 50px;
}
.home_content .login .btn-login{
    text-align:center;
    background-color: #fff;
    color: grey;
    font-size: 17px;
    font-weight: 500;
    border-radius: 12px;
    padding-left: 25px;
    padding-right: 25px;
}
.cli-table .table-hover thead tr th{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.client-table .table-hover tbody tr td{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}
.form-page{
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    background-image: url("../images/bg.jpg");
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
.form-page section{
    display: grid;
    justify-content: center;
    align-items: center;
}
.form-page .container{
    max-width: 100%;
}
.form-page .container .form-add{
    width: 100%;
    padding: 1rem 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 20px;
    padding: 30px 40px 30px 40px;
    margin-top: 50px;    
}
.container .form-add .header-form p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(243, 243, 243);
    border-radius: 12px;
    padding: 6px;
}
.form-add .row .col-sm-3 .row .text{
    padding: 6px;
    border-radius: 12px;
    border: none;
}

.index-header{
    text-align:left;
    font-size: 25px;
    margin-top: 3%;
    margin-left:6%;
    font-weight: 800;
}

.index-subheader{
    text-align:left;
    font-size: 20px;
    margin-left: 6%;
    margin-top: -0.5%;
    font-weight: 500;
}

.btn-login-part{
    text-align: center;
    margin-top: 35%;
    background-color: rgb(243, 243, 243,0.7);
    border-radius: 12px;
    padding: 6px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
}
.btn-login-text{
    font-size: 20px;
    font-weight: 800;
}
.background-login{

    background-image:url("../images/bg.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-content{
    margin-top: 8%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 48%;
    left: 78px;
    background-color: rgba(255, 255, 255, 0.8);
}


.authen-header{
    text-align:left;
    font-size: 25px;
    width: 8%;
    margin-top: 3%;
    margin-left: 4%;
    font-weight: 500;
}
.authen-login-subheader{
    text-align:left;
    font-size: 15px;
    margin-top: -0.5%;
    margin-left: 4%;
    font-weight: 500;
}

.blank{
    height: 5%;
    opacity: 0%;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

body{
	background-image: url("https://images.pexels.com/photos/891252/pexels-photo-891252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}
.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
}
.input-container{
    margin-top:6%;
    margin-left: auto;
    margin-right:auto;
    text-align:center;
    width:70%;
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:rgb(0, 0, 0);	
	transition: all 0.5s ease-in-out;
    font-weight:500;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #000000;	
}
.btn-login-page{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}


.submit{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 71%;
}

.register{
    margin-bottom: 5%;
}

.home_content{
    margin-left: 5%;
}
